<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AI DevOps Assistant</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

<div class="container">

<h1> AI DevOps Assistant</h1>

<textarea
id="prompt"
placeholder="Ask anything..."></textarea>

<button id="sendButton">

Ask AI

</button>

<div id="chatBox">

</div>

</div>

<script src="/static/js/script.js"></script>

</body>

</html>